
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  /*text-shadow: 3px 3px 1px black;*/
  
}

/*https://stackoverflow.com/questions/25874001/how-to-put-scroll-bar-only-for-modal-body*/
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 75vh;
    overflow-y: auto;
}

.error {
  background-color: pink;
}

.showInput {
  background-color: #bee5eb;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  font-style: italic;
  font-size: 75%;
}

