
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  /*text-shadow: 3px 3px 1px black;*/
  
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  font-style: italic;
  font-size: 75%;
}

